body{
    margin: 0px;
}

h1{
    text-align: center;
    font-size: 40px;
}

h2{
    font-size: 35px;

}
.menu ul{
    padding: 0px;
    margin: 0px;
    background-color: rgb(112, 112, 231);
    border: 0px;
    list-style-type: none;
    overflow: hidden;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-size:25px;
    text-align: center;
}

.menu a:hover{
    background-color: rgb(78, 78, 184);
}

.menu li{
    float: left;
}
