@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

root {
    --bleu-noir: #22222F;
    --nav-bg: #d9b5ff;
    --titre: #ffb76b;
}

html { /*Définission de la taille de police de base : rem*/
    font-size: 22px;
    background-color: var(--bleu-noir, #22222F);
    z-index: 0;
    font-family: "Oswald", Oswald, sans-serif;
    color: aliceblue;
}

nav { /*navbar fixée*/
    z-index: 10;
    display: flex;
    justify-content: center;
    background: var(--nav-bg, #d9b5ff);
    width: 100%;
    position: fixed;
    top: 0;
}

nav li { /*éléments de la navbar centrés*/
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    display: inline;
}

main { /*marge pour aérer*/
    color: aliceblue;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}

h1 {
    margin: 35px;
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--titre, #ffb76b);
    text-transform: uppercase;
    justify-content: center;
}

h2 {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    text-decoration: underline;
    margin: 20px
}

h3 {
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    text-decoration: wavy;
    margin: 20px
}

p {
    display: block;
    margin: 20px;
    padding: 8px;
    font-family: "Oswald", Oswald, sans-serif;
}

u {
    text-decoration: underline;
}

main ul { /*main pour être sûrs de ne pas toucher aux ul de la nav*/
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px;
    border-top: solid 2px;
    margin: 30px;
}

main ul > li { /*main pour être sûrs de ne pas toucher aux ul de la nav*/
    list-style-position: inside;
    list-style-type: " ▷ ";
    font-size: 0.9em;
    padding-left: 5px;
    border-left: dashed aqua;
}

code{
    color: var(--nav-bg, #d9b5ff);
    font-size: 0.9rem;
    font-style: italic;
}

table {
    background-color: indigo;
    padding: 10px;
    margin: 10px;
    border: solid aliceblue 10px;
    border-radius: 5px;
    caption {
        color: var(--titre, #FFB76BFF);
    }

    thead {
        font-weight: bold;
        margin: 10px;
    }

    th, td {
        margin: 10px 10px;
    }
}

a:link {
    text-decoration: none;
    color: mediumvioletred;
}

a:visited {
    color: indigo;
}

a:hover {
    text-decoration: underline;
    color: crimson;
}

a:active {
    color: darkred;
}

img {
    padding: 3px;
    border: solid darkred;
    margin: 5px;
    font-size: 0.6rem;
    max-width: 100%;
    height: auto;
    display: block
}

footer {
    color: var(--bleu-noir, #22222F);
    z-index: 10;
    display: flex;
    font-size: 0.8rem;
    justify-content: end;
    margin: 0;
    background-color: var(--nav-bg, #d9b5ff);
    width: 100%;
    position: fixed;
    padding: 0;
    bottom: 0;

    p {
        margin: 10px;
    }
}

/*Partie responsive : téléphone*/

@media (max-width: 885px) {
    /*largeur max avant un wrap de la navbar*/
    html {
        font-size: 12px;
    }

    body {
        max-width: 885px;
    }

    nav {
        z-index: 10;
        display: flex;
        justify-content: center;
        background: var(--nav-bg, #d9b5ff);
        width: 100%;
        position: fixed;
        top: 0;
    }

    nav li { /*navbar fixée*/
        text-transform: uppercase;
        font-weight: bold;
        margin: 10px;
        font-size: 1.05rem;
        justify-content: space-around;
        align-items: center;
        display: inline;
    }

    footer {
        color: var(--bleu-noir, #22222F);
        z-index: 10;
        display: flex;
        padding: 0;
        font-size: 0.8rem;
        justify-content: end;
        background: var(--nav-bg, #d9b5ff);
        width: 100%;
        position: fixed;
        bottom: 0;

        p {
            margin: 5px;
        }
    }

    img {
        max-width: 100%; /*Pour ne pas dépasser l'écran*/
        height: auto;
        display: block;
    }

}
